@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h3><em>New Client</em></h3>
<hr>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name, "Client Name: ")
  @Html.TextBoxFor(model => model.Name)
  <br>
  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")
  <br>
  <input class="btn btn-success" type="submit" value="Submit" />
}
<hr>
<h5>@Html.ActionLink("Back to Clients", "Index")</h5>